.git
.github
.env
.env.*
!.env.example

node_modules
**/node_modules
.next
**/.next
dist
**/dist
build
coverage
**/*.tsbuildinfo

docs
docker-data
keycloak-data
postgres-data
redis-data
tmp
.cache

*.log
*.dump
*.backup
*.bak
uploads
private-files
